*.class
*.war
*.xml
*.properties
/SDWiki/nbproject/private/
/SDWiki/nbproject/
/SDWiki/build/
/SDWiki/dist/
/SDWiki/nbproject/private/
/SDDirectory/nbproject/private/
/SDDirectory/build/
/SDDirectory/dist/
