*.class
*.war
*.xml
*.properties
SDWiki/nbproject/private/private.properties
/SDWiki/nbproject/private/
/SDWiki/nbproject/
/SDWiki/build/
/SDWiki/dist/
/SDWiki/nbproject/private/
/SDDirectory/nbproject/private/
/SDDirectory/build/
/SDDirectory/dist/
/SDLexicon/nbproject/private/
/SDLexicon/build/
SDWiki/build/web/WEB-INF/
SDWiki/build/web/WEB-INF/classes
